
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.navbar {
  width: 95%;
  margin: auto;
  padding: 30px 0 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.li ::after {
  content: '';
  height: 1px;
  width: 0;
  background: #ffc107;
  position: absolute;
  left: 0;
  bottom: -10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.li :hover::after {
  width: 100%;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
}

.logo{
  width: 70px;
  cursor: pointer;
}